<div class="w-100 d-flex m-1">
  <div class="border p-2 mw-70" id="message-<%= message.id %>" style="max-width: 70%; border-radius: 0 14px 14px 14px;">
    <%= message.deleted_at ? raw('<p><i class="fas fa-ban"></i> This message was deleted</p>') : markdown(message.text) %>
    <small><%= l message.created_at.localtime, format: :short %></small>
  </div>
</div>
