<% unless @comments.empty? %>
  <% if @pagy.prev.nil? %>
    $('#comments-list').html(`<%= j render partial: 'comments/list', collection: @comments, as: :comment %>`)
  <% else %>
    $('#comments-list').append(`<%= j render partial: 'comments/list', collection: @comments, as: :comment %>`)
  <% end %>
  <%= render 'comments/comments_count' %>
<% else %>
  $('#comments-list').html(`<p class="text-center">Empty</p>`)
<% end %>

<% if @pagy.next.nil? %>
  $('#next_link_comments').remove()
<% else %>
  $('#div_next_link_comments').html(
    `<%== pagy_next_link(@pagy, 'More', 'id="next_link_comments" class="btn btn-primary"') %>`
  )
<% end %>

$('[data-toggle="tooltip"]').tooltip()
