<footer class="mt-4 pt-4" style="height: 50px;">
  <div class="container">
    <p class="text-center">
      Remember <i><strong>privacy is overrated</strong></i>, never forget it.
    </p>
  </div>

  <div class="text-center pt-2 pb-3 d-flex align-items-center justify-content-center">
    © 2020 Copyright:
    <%= link_to 'WithoutPrivacy', root_path, class: 'btn' %>
  </div>
</footer>
