<% content_for :title, 'About us' %>

<div class="row">
  <div class="col-10 offset-1">
    <h2 class="mt-3 mb-4">About Us</h2>

    <p>
      This is an app created just for fun, all said here must be take it like sarcasm. The information won't
      be send to anyone, although I recommend you not to upload sensitive information. Just enjoy!
    </p>

    <p>
      Creator:
      <ul style="list-style-type: none">
        <li>Daniel Muñoz</li>
        <li>System Engineer</li>
        <li><a href="https://github.com/dmunoz-10" class="btn m-0 p-0"><i class="fab fa-github"></i> GitHub</a></li>
      </ul>
    </p>
  </div>
</div>
