<% content_for :title, 'Privacy Policy' %>

<div class="row">
  <div class="col-10 offset-1">
    <h2 class="mt-3 mb-4">Privacy Policy</h2>

    <p>
      Here you do not have privacy, because this is <strong>WithoutPrivacy</strong>,
      so all your data could be visible to everybody that asks for your personal information :)
    </p>
  </div>
</div>
