<% content_for :title, 'Terms of Service' %>

<div class="row">
  <div class="col-10 offset-1">
    <h2 class="mt-3 mb-4">Terms of Service</h2>

    <p>
      We can share/sell your data with all people we want, even if it is for politics purpose :D
    </p>
  </div>
</div>
