$('#modal-title-users-liked').html(`<%= "Users (#{@users.size})" %>`)
$('#likes-count-<%= @post.id %>').html(`<%= j render partial: 'posts/likes', locals: { post: @post } %>`)

<% unless @users.empty? %>
  $('#users-list').html(`<%= j render 'users/list' %>`)
<% else %>
  $('#users-list').html(`<p class="text-center">Empty</p>`)
<% end %>

$('#modal-users-liked').modal('show')
